# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\后端大佬成才之路\rabbitMq学习\mq-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
